DJANGO_SECRET_KEY=pon-aqui-una-clave-larga-y-segura
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://catalogo-makyp.web.app
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://catalogo-makyp.web.app
DJANGO_CORS_ALLOW_ALL=False
DJANGO_SECURE_SSL_REDIRECT=False

DB_NAME=catalogo
DB_USER=postgres
DB_PASSWORD=cafune123
DB_HOST=localhost
DB_PORT=5434
DB_SSL_REQUIRE=False

# Railway normalmente inyecta DATABASE_URL automáticamente.
# Si existe DATABASE_URL, Django la usará por encima de los valores DB_*.
DATABASE_URL=
